html, body {
  margin: 0;
  width: 100%;
}

div {
  /*border: solid 1px black;*/
  cursor: default;
  color: #AF272F;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* View of title in default view */
.title-content { 
  margin-top: 100px;
  text-align: center;
}

.title {
  min-width: 500px;

  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}

.title-caption {
  margin-top: 5px;
  margin-bottom: 30px;

  min-width: 500px;

  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 25px;
}

/* CSS for query bar in all views */
.query-form {
  padding: 8px;
  min-height: 35px;
  min-width: 1050px;
  width: 100%;

  text-align: center;
}

.query-form input {
  margin: 0px 2px;

  min-height: 30px;
  min-width: 325px;

  font-size: 16px;
}

.app-name {
  display: none;

  font-family: 'Open Sans', sans-serif;;
  font-size: 20px;
}

.app-name+input {
    margin-left: 50px;
}

.go-button {
  height: 36px;
  width: 36px;

  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;

  background-color: #CCC;
  border: solid 1px #A6A6A6;
  cursor: pointer;
}

.go-button:hover {
  background-color: #A6A6A6;
  border: solid 1px #D9D9D9;
}

.go-button:focus {
  outline:0;
}

/* CSS for map */
.map {
  position: absolute;
  top: 350px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  min-height: 305px;
  max-height: 305px;
}

/* Display of query results */
.results {
  display: none;

  position: absolute;
  top: 365px;

  min-width: 1050px;
  width: 100%; 

  padding-left: 10px;
}

.results-filter {
  float: left;

  min-height: 100%;
  height: 100%;
  min-width: 275px;
  width: 275px;

  border-right: solid 1px #D9D9D9;
}

.results-filter input {
  min-height: 20px;
  height: 20px;
  min-width: 250px;
  width: 250px;

  font-size: 14px;
}

.results-title {
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.info-window {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.info-title {
  margin-bottom: 3px;
  font-weight: 700;
}