html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #AF272F;
}

a:hover {
  color: #D74C54;
}

div {
  /*border: solid 1px black;*/
  cursor: default;
  color: #AF272F;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* View of title in default view */
.title-content { 
  margin-top: 100px;
  text-align: center;
}

.title {
  min-width: 500px;

  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}

.title-caption {
  margin-top: 5px;
  margin-bottom: 30px;

  min-width: 500px;

  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 25px;
}

/* CSS for query bar in all views */
.query-form {
  padding: 8px;
  min-height: 35px;
  min-width: 1000px;
  width: 100%;

  text-align: center;
}

.query-form input {
  margin: 0px 2px;

  min-height: 30px;
  min-width: 325px;

  font-size: 16px;
}

.app-name {
  display: none;

  font-family: 'Open Sans', sans-serif;;
  font-size: 20px;
}

.app-name+input {
    margin-left: 50px;
}

.go-button {
  height: 36px;
  width: 36px;

  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;

  color: #AF272F;
  background-color: #F3CACC;
  border: solid 1px #EAA0A4;
  border-radius: 3px;
  cursor: pointer;
}

.go-button:hover {
  background-color: #EAA0A4;
  border: solid 1px #E58C90;
}

.go-button:focus {
  outline: 0;
}

/* CSS for map */
.map {
  position: absolute;
  top: 350px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  min-height: 305px;
  max-height: 305px;
}

.info-window {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.info-title {
  margin-bottom: 3px;
  font-weight: 700;
}

/* Display of query results */
.results {
  display: none;

  position: absolute;
  top: 365px;

  min-width: 1000px;
  width: 100%; 

  padding: 0px 10px;
}

.results-filter {
  min-height: 35px;
  height: 35px;
  min-width: 975px;
  width: 100%;

  vertical-align: middle;
  border-bottom: solid 1px #D9D9D9;
}

.results-header {
  float: left;
}

.results-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.results-caption {
  display: inline-block;
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.filter-function {
  position: absolute;
  right: 30px;
  min-width: 225px;
}

.filter-function #filter-category {
  min-height: 20px;
  height: 20px;
  min-width: 200px;
  width: 200px;

  vertical-align: top;
  font-size: 16px;
}

.filter-function #filter-button {
  width: 26px;
  height: 26px;
}

#filter-button:hover {
  -webkit-filter: saturate(10); 
}

#filter-button:focus {
  outline: 0;
}

.results-list {
  position: absolute;
  display: table-cell;
  left: 50px;
  bottom: 10px;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-y: scroll;
}

.range-display {
  min-height: 20px;
  height: 20px;
}

/* Special case */
.no-results {
  position: relative;
  margin: 0px auto;
  width: 290px;

  font-size: 26px;
}

.restaurant-display {
  margin: 5px 20px;
  padding: 5px;

  border: solid 1px #EAA0A4;
  border-radius: 3px;
}

.restaurant-header {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 20px;
  border-bottom: solid 1px #D9D9D9;
}

.restaurant-header img {
  position: relative;
  top: 3px;
  float: right;

  height: 20px;
  width: 110px;
}

/* Navigation */
.arrow {
  display: hidden;
  position: absolute;

  min-height: 70px;
  height: 70px;
  min-width: 50px;
  width: 50px;
}

.arrow:hover {
  -webkit-filter: saturate(10); 
}

.arrow:focus {
  outline: 0;
}

#left-arrow {
  left: 0;
  margin-left: 5px;
}

#right-arrow {
  right: 20px;
  margin-right: 5px;
}